.featured{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.featured .imgsDiv img{
    position: relative;
}

.img2{
    position: absolute;
    top: 10px;
    right: -30px;
    background-color: rgb(255, 77, 0);
    width: 60px;
    height: 60px;
    z-index: 1000;
    padding: 10px 10px;
    border-radius: 50%;
}


.featuredApartment p:nth-child(1){
    font-size: 15px;
    color: orangered;
    font-weight: 900;
}

.featuredApartment p:nth-child(2){
    font-size: 50px;
    font-weight: bold;
    max-width: 300px;
    margin-top: -10px;
}




@media (max-width: 600px){
    .featured{
    flex-direction: column;
   }
   .featured .imgsDiv{
       display: flex;
       justify-content: center;
       flex-direction: column;
    }
    .img2{
        position: absolute;
    top: 520px;
    right: 10px;
}
.featuredApartment p:nth-child(2){
    font-size: 20px;
}
.accordian{
    width: 400px;
}
}