.VideoView{
    /* height: 100vh */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;    
}

.videoViewImg{
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 90%;
}

.videoText{
    position: absolute;
    text-align: center;
    padding-top: 50px;
}

.videoText p{
    color: red;
    font-size: 14px;
}

.videoText h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    max-width: 320px;
}

.videoDiv { 
  display: flex;
  justify-content: center;  
  margin-top: 240px;
}

.videoDiv img{
    border-radius: 24px;
    filter: blur(0);
    width: 800px;
    margin-top: 100px;
}

.icon{
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    top: 55%;
    box-shadow: 0px 0px 10px orangered;
}

.videoStats{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.stat{
    background-color: rgb(247, 217, 217);
    width: 280px;
    height: 100px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
}

.stat p{
    color: red;
    font-weight: 900;
    font-size: 50px;
}
.stat span{
    font-size: 18px;
    font-weight: 600;
}

.stat::after{
    content: '';
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media (max-width: 600px){
    .VideoView{
        flex-direction: column;
        height: 80vh;
    }
    .videoStats{
        gap: 20px;
        flex-direction: column;
        margin-top: 200px;
    }

    .videoDiv { 
        display: flex;
        justify-content: center;  
        margin-top: 240px;
      }
      
      .videoDiv img{
          width: 100%;
          margin-top: 100px;
      }
      
      .icon{
          top: 55%;
      }
      
    
}