.properties{
   margin-bottom: 96px;
}

.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.button{
    border-radius: 6px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
}
.active{
  background-color: red;
}

@media (max-width: 600px) {
    .buttons{
        flex-wrap: wrap;
    }
}